.date-app {
  width: 350px;
  margin: 20px auto;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}
